# =========================
# Operating System Files
# =========================
# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows (Keeping these so it stays clean when you switch back)
Thumbs.db
Desktop.ini

# =========================
# IDEs and Editors
# =========================
.vscode/

# =========================
# Python / Backend
# =========================
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments no matter where they are
venv/
backend/venv/
.env
backend/.env

# =========================
# Node.js / Frontend & Backend
# =========================
node_modules/
npm-debug.log*

# Build outputs
frontend/dist/
frontend/build/

# =========================
# Project Specific
# =========================
backend/uploads/
backend/datasets/

.env